[% WRAPPER wrapper.tt %]
<div id="title">
<h1>ユーザー設定</h1>
</div>

<div id="content">
<div class="form_full section">
[%#<h2><a href="/member/settings/basic">%][%# loc("Basic Settings") %][%#</a></h2>%]
<h2>[% loc("Basic Settings") %]</h2>
[% form %]
</div><!-- section -->

<div class="form_full section">
<h2>パスワード</h2>
[% form_password %]
</div><!-- section -->
</div><!-- content -->
[% END %]