[% WRAPPER wrapper.tt %]

<h1>[% loc("Login") %]</h1>

    <div class="greenbox loginbox">
[% form %]
    </div>
<a href="[% c.uri_for('/signup') %]">[% loc("No Account? Sign up now!") %]</a>
[% END # WRAPPER %]
