[% WRAPPER wrapper.tt %]
<h1>賛同企業</h1>

<div id="platinum">
<h2>プラチナ会員</h2>
<ul>
<li><a href="http://s2factory.jp">S2ファクトリー株式会社</a></li>
<li><a href="http://www.endeworks.jp">株式会社 エンデワークス</a></li>
<li><a href="http://www.gaiax.co.jp">株式会社 ガイアックス</a></li>
<li><a href="http://www.dena.jp">株式会社 ディー・エヌ・エー</a></li>
<li><a href="http://mixi.jp">株式会社 ミクシィ</a></li>
<li><a href="http://www.livedoor.com">株式会社 ライブドア</a></li>
</ul>
</div><!-- platinum -->
<div id="gold">
<h2>ゴールド会員</h2>
<ul>
<li><a href="http://www.paypal.com/j1">Paypal KK</a></li>
</ul>
</div><!-- gold -->
<div id="silver">
<h2>シルバー会員</h2>
<ul>
<li><a href="http://www.paperboy.co.jp/">株式会社 paperboy&co.</a></li>
<li><a href="http://www.plucore.jp">株式会社 Plugin and Core</a></li>
<li><a href="http://www.adways.net">株式会社 アドウェイズ</a></li>
<li>株式会社オリノコ</li>
<li><a href="http://www.seesaa.jp">シーサー 株式会社</a></li>
</ul>
</div><!-- silver -->
<div id="bronze">
<h2>ブロンズ会員</h2>
<ul>
<li><a href="http://soffritto.org/">株式会社 ソフリット</a></li>
</ul>
</div><!-- bronze -->
<p>（名称順）</p>
[% END %]