[% WRAPPER wrapper.tt %]
<div id="title">
<h1>JPA 会員登録</h1>
</div><!-- title -->

<div id="content">
<div id="signup_basic" class="form_full section">
[% form %]
</div><!-- section -->
</div><!-- content -->
[% END # WRAPPER %]
