[% WRAPPER wrapper.tt %]
<div id="title">
<h1>[% loc("Pixis Member Signup") %]（基本情報）</h1>
</div><!-- title -->

<div id="content">
<div class="form_full section">
[% form %]
</div><!-- section -->
</div><!-- content -->
[% END # WRAPPER %]