[% WRAPPER wrapper.tt %]
<h1><a href="[% c.uri_for('/event', event.id) %]">[% event.title | html %]</a> - 編集</h1>

<h2>基本情報</h2>
<div class="formbox">
[% form %]
</div>

<h2>参加費設定</h2>
[% f_ticket %]

[%# XXX 未実装 %]
<h2>日程毎の調整</h2>
[% FOREACH f_date IN dates %]
<h3>[% f_date.0 %]</h3>
[% f_date.1 %]
[% END %]
[% END # WRAPPER %]
