[% WRAPPER wrapper.tt %]

<h1>[% event.title %] - 参加申し込み</h1>

[% IF (! c.registry('api', 'Event').is_registration_open({ event_id => event.id }) %]
<div>このイベントへの参加は締め切られました。また次回のお越しをお待ちしております</div>
[% ELSE %]

[%# eventに金額とかを書いてないといけない %]

<table border="1">
<tr>
    <td> 一般参加 </td>
    <td> 無料 </td>
</tr>
</table>

[% END # IF open %]
[% END # WRAPPER %]