[% WRAPPER wrapper.tt %]

<h1>[% loc("Conferences") %]</h1>

<h2>開催予定のカンファレンス</h2>
[% IF conferences.size > 0 %]
<ul>
[% FOREACH conference IN conferences %]
    <li><a href="[% c.uri_for("/conference", conference.id) %]">[% conference.title | html %]</a></li>
[% END %]
</ul>
[% END %]

<h2>過去のカンファレンス</h2>

[% END # WRAPPER %]