[% WRAPPER wrapper.tt %]

<h1> 銀行振り込みによるお支払い </h1>

<p> 登録後下記口座に年会費をお振り込みください。</p>

<p style="padding-left: 2em"> 
    (社) Japan Perl Association <br />
    三井住友銀行 渋谷駅前支店 <br />
    普通 4065614 <br /></dt>
<p>

<p> 振り込み名義人の欄に オーダー番号「<span style="color: #f00">[% c.req.param('order') %]</span>」を必ず明記するようにしてください。お名前だけですと照合に時間がかかる場合がございます。 </p>

[% END # WRAPPER %]