[% DEFAULT submenu = site_config.submenu %]
<!-- START left -->
  <div id="menu">
[% PROCESS navigation.tt %]
    <div class="leftnews"> 
      [% FOREACH smenu IN submenu -%]
       <div><img src="/static/img/Bullet_green.gif" alt="right blue" width="19" height="16" /> <a href="[% smenu.link %]">[% smenu.text %]</a></div>
      [%- END %]
      </div>
  </div>
<!-- END left -->