[% DEFAULT submenu = site_config.submenu %]
<!-- START left -->
<div id="side">
<div id="logo"><a href="/jpa"><img src="[% static_uri %]/logo.jpg" alt="Japan Perl Association" /></a></div>
<div id="lnav_container">
[% PROCESS navigation.tt %]
[% IF (site_config.submenu) -%]
<ul id="subnav"> 
  [% FOREACH smenu IN submenu -%]
<li><a href="[% smenu.link %]">[% smenu.text %]</a></li>
  [%- END %]
</ul>
[%- END %]
</div><!-- lnav_container -->
</div><!-- side -->
<!-- END left -->