<!-- START navigation -->
    <h2 class="hide">Menu:</h2>
    <ul>
[% FOREACH nav IN site_config.navigation %]
      <li><a href="[% nav.url %]">[% loc(nav.text || 'Link') %]</a></li>
[% END %]
    </ul>
<!-- END navigation -->