<!-- START navigation -->
[% SET navlist = c.navigation %]
    <h2 class="hide">Menu:</h2>
    <ul>
[% FOREACH nav IN navlist %]
      <li><a href="[% nav.url %]">[% loc(nav.text || 'Link') %]</a></li>
[% END %]
    </ul>
<!-- END navigation -->