[%-

CALL site_config.navigation.push(
    {
        text => loc("Event"),
        url  => '/event'
    }
);

IF (c.check_user_roles(c.user, 'admin')) ;
    CALL site_config.submenu.push(
        {
            text => loc("Organize an event"),
            url  => '/event/create'
        }
    );
END ;

-%]