[%-

SET site_config = {
    title => 'Japan Perl Association (JPA)',
    logo => '/static/jpa/img/jpa_logo_small.jpg',
    submenu => [
        { link => "/jpa/signup",  text => "会員登録" },
        { link => "/jpa/sponsors",  text => "賛同企業・会員" },
        { link => "/jpa/poweredby", text => "Powered By" },
    ],
}

-%]